*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, sans-serif;
    background-color: ghostwhite;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #252525;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-header{
    width: 50px;
    aspect-ratio: 1;
    margin-left: 40px;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 20%;
}
.logo-header img{
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
nav ul li{
    list-style: none;
    padding: 20px;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
nav ul li a:hover{
    color: crimson;
}

main{
    margin: 140px 0 50px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
main section{
    padding: 30px;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}
.article-main{
    padding: 20px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto 200px auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-section{
    grid-column: -1 / 1;
    font-size: 1.5rem;
    padding: 10px 0;
    margin: 0 0 40px;
    border-bottom: solid 2px;
    color: #252525;
}

.title-article{
    grid-column: span 2;
    margin: 10px 0 20px;
}
.text-article{
    margin: 0 20px 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.link-article{
    padding: 15px 0;
}
.link-article a{
    padding: 15px 20px;
    background-color: lightgray;
    border-radius: 6px;
    text-decoration: none;
    color: #252525;
    font-weight: bold;
    font-size: .9rem;
    transition: all 0.1s ease-in-out;
}
.link-article a:hover{
    background-color: #252525;
    border-radius: 6px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: .9rem;
}

.img-article{
    grid-column: 2;
    grid-row: 2 / 4;
    height: 100%;
}
.img-article img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


footer{
    width: 100%;
    background-color: #252525;
    color: whitesmoke;
}
footer h3{
    font-weight: bold;
}
footer div{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
footer div ul{
    list-style-type: none;
}
footer div ul li{
    padding: 10px;
}
footer div ul li a{
    color: rgba(255, 255, 255,0.7);
    text-decoration: none;
}

@media screen and (max-width: 920px){
    main section{
        grid-template-columns: 1fr;
    }
}