*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    min-height: 100vh;
    background-color:cornsilk;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
main section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

main section article{
    padding: 15px;
    width: 400px;
    height: auto;
    background-color: lightgray;
    min-height: 400px;
}

.main-aside{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-aside aside{
    width: 100%;
}

.main-aside aside img{
    width: 100%;
}