*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main section{width: 70%;display: flex;flex-wrap: wrap;justify-content: space-around;}
section p{font-family: Arial, Helvetica, sans-serif;}
aside {width:30%}
aside img{
    width: 300px;
    height: auto;
}